{% if form.errors %}
    {% for error in form.non_field_errors %}
        <strong>{{ error|escape }}</strong>
    {% endfor %}
{% endif %}

{% for field in form %}
    {{ field.errors }}
    <label>{{ field.label_tag }}</label>
    {{ field }}
{% endfor %}