<ul>
    {% for questionnaire in all_questionnaires %}
        <li><a href="#">{{ questionnaire }}</a></li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
    <h2><strong>{{ user }}</strong></h2>
    <a href="{% url 'questionnaires:create-quest' %}">Create Questionnaire</a><br>
    <a href="{% url 'questionnaires:logout' %}">Logout</a><br>
{% else %}
<a href="{% url 'questionnaires:login' %}">Login</a><br>
<a href="{% url 'questionnaires:register' %}">Register</a>
{% endif %}